/* enlarge slack emojis */

.c-message__body span.emoji-outer {
  width: 2em;
  height: 2em;
}

.c-message__body span.emoji {
  width: 2em;
  height: 2em;
}

.c-message__body .emoji-sizer {
  margin-top: 4.5px;
}

.c-reaction_bar .c-reaction {
  height: 2.8rem;
}

.c-reaction_bar .c-reaction .emoji-sizer {
  width: 2em;
  height: 2em;
}


.c-reaction_bar .c-reaction .c-reaction__count {
  /*top: -13px;*/
  padding: 0 1px 0 6px;
}

.c-reaction_bar .c-reaction_add {
  height: 2.8rem;
}

.c-reaction_bar .c-reaction_add .c-icon {
  width: 2em;
  height: 2em;
  top: 5px;
}

.c-message__sender .emoji-sizer {
  width: 2em;
  height: 2em;
}

.ReactModalPortal .emoji-sizer {
  width: 2em;
  height: 2em;
}
