/* enlarge slack emojis */

.c-message__body .emoji-outer {
  width: 2em;
  height: 2em;
}
.c-message__body .emoji {
  width: 2em;
  height: 2em;
}
.c-message__body .emoji-sizer {
  margin-top: 0;
}

.c-reaction_bar .c-reaction {
  height: 2.8rem;
}
.c-reaction_bar .c-reaction .emoji-sizer {
  width: 2em;
  height: 2em;
}

.c-reaction_bar .c-reaction .c-reaction__count {
  padding: 0 1px 0 6px;
}
.c-reaction_bar .c-reaction_add {
  height: 2.8rem;
}
.c-reaction_bar .c-reaction_add .c-icon {
  width: 2em;
  height: 2em;
}

.c-message__sender .emoji-sizer {
  width: 2em;
  height: 2em;
}

#ts_tip_float_floater .ts_tip_multiline_inner .emoji-sizer {
  width: 2em;
  height: 2em;
}

.ReactModalPortal .c-custom_status__tooltip .emoji-sizer {
  width: 2em;
  height: 2em;
}
